@import "tailwindcss";

@layer base{
  @font-face {
    font-family: "aeonik";
    src: url("~/public/fonts/Aeonik-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("~/public/fonts/Aeonik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("~/public/fonts/Aeonik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("~/public/fonts/Aeonik-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("~/public/fonts/Aeonik-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
} 


#root {
  position: relative;
  z-index: 2;
}
html, body{
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: transparent;
  color: var(--color-black-300);
}







