@import "tailwindcss";

@layer base{
  @font-face {
    font-family: "aeonik";
    src: url("/public/fonts/Aeonik-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("/public/fonts/Aeonik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("/public/fonts/Aeonik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("/public/fonts/Aeonik-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("/public/fonts/Aeonik-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
} 

@layer components {
  
}

@layer utilities {
  .flex-center{
    @apply flex items-center justify-center;
  }
  }

  @theme {
    --font-sans: "aeonik";
    --color-green-50: #4E9525;
    --color-green-300: #2E5A1C;
    --color-ivory-50: #EDF0C7;
    --color-orange-300: #FF5C00;
    --color-black-300: #030029;
    --color-white-100: #ffffff;
  }

html, body{
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: transparent;
  color: var(--color-black-300);
}

section{
  width:100dvw ;
  min-height: 100dvh;

}

